@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.multTypeButton:hover,
.booleanButton:hover {
  background: linear-gradient(177deg, #b9018b, #36042a);
}

body {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin-left: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 130px;
  margin-bottom: 15em;
  margin-left: 5px;
}
#testappend {
  text-align: center;
}
#pVero,
#pFalso,
.multTypeButton {
  border: 1px solid;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  width: 220px;
  margin: 85px 95px 0px 95px;
  border: 3px solid;
  box-shadow: 0px 1px 10px 0px;
}

#pVero-pFalso {
  display: flex;
  flex-wrap: wrap;
}

#genitore {
  text-align: center;
}
#divRisposteRiga1,
#divRisposteRiga2 {
  display: inline-flex;
}
#genitore p {
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
}
