@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.divCiambella {
  display: flex;
}

.divSchermataCiambella {
  margin-top: 10%;
}

#divFraseSuperamentoON {
  position: absolute;
}

#divFraseSuperamentoONo {
  text-align: center;
  font-size: 2em;
  position: relative;
  white-space: nowrap;
}

#graficoCiambella {
  position: absolute;
  top: -238px;
  left: -195px;
}

#divQuanteSbagliate {
  text-align: center;
  font-size: 4.5em;
  margin: 15%;
  margin-top: 5%;
  position: relative;
  right: -84px;
}
#divQuanteGiuste {
  text-align: center;
  font-size: 4.5em;
  margin: 15%;
  margin-top: 5%;
  position: relative;
  right: 96px;
}

.primaFraseResultCorrect {
  font-size: 0.7em;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  right: 10px;
  top: -5px;
  font-family: "Inter", sans-serif;
}
.secondaFraseResultCorrect {
  font-size: 0.5em;
  color: #00ffff;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  right: 13px;
  top: -9px;
  font-family: "Inter", sans-serif;
}
.terzaFraseResultCorrect {
  font-size: 0.35em;
  text-align: center;
  position: relative;
  right: 9px;
  top: 35px;
  font-family: "Inter", sans-serif;
}
.primaFraseResultSbagliato {
  font-size: 1em;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  right: -4px;
  top: -5px;
  font-family: "Inter", sans-serif;
}
.secondaFraseResultSbagliato {
  font-size: 0.65em;
  color: #00ffff;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  right: -3px;
  top: -9px;
  font-family: "Inter", sans-serif;
}
.terzaFraseResultSbagliato {
  font-size: 0.35em;
  text-align: center;
  position: relative;
  right: -3px;
  top: 35px;
  font-family: "Inter", sans-serif;
}
.quanteCiambella {
  font-size: 0.4em;
  text-align: left;
  font-family: "Outfit", sans-serif;
}
.percentualeCiambella {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  font-family: "Outfit", sans-serif;
}
.txtCiambella {
  font-size: 1em;
  text-align: left;
  font-family: "Outfit", sans-serif;
}
