/* CSS COMUNE PER TUTTO IL PROGETTO */
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin: 5%;
  overflow: hidden;
}

header img {
  width: 130px;
}

main {
  width: 100%;
}

.title {
  line-height: 0.8;
}

.title1,
.title2 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  justify-self: left;
}

.title2 {
  font-weight: bold;
  justify-self: left;
}

.title-instructions,
.description,
.elenco,
span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  justify-self: left;
}

.title-instructions {
  color: #d20094;
  font-weight: bold;
  justify-self: left;

  padding-top: 1.7em;
}

.description {
  line-height: 1.1;
  padding-top: 0.5em;
}

.elenco {
  padding-top: 4em;
  margin-left: 1.5em;
  line-height: 1.4;
}

#check {
  display: flex;

  padding-top: 5em;
}

/* CONTROLLARE!!!!!! */
#checkbox {}

div button {
  height: 58px;
  width: 220px;
  background-color: #00ffff;
  font-weight: bold;
  font-size: 16px;
}

#button {
  text-align: right;
  margin-right: 6em;
  margin-bottom: 4em;
}

button:hover {
  transition: 0.7s;
  box-shadow: 0px 0px 30px 7px #00ffff;
  cursor: pointer;
  border: none;
  border-style: 5px;
}

button {
  border: none;
}

/* CSS TIMER - FRANCESCO */

.multTypeButton:hover,
.booleanButton:hover {
  background: linear-gradient(177deg, #b9018b, #36042a);
}

header img {
  width: 10%;
  position: absolute;
  position: fixed;
  top: 25px;
  left: 60px;
}

body {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin-left: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
}

/* img {
  width: 130px;
  margin-bottom: 15em;
  margin-left: 5px;
} */

#pDomanda {
  font-size: 3em;
}

#pVero,
#pFalso {
  border-radius: 40px;
  padding: 10px;
  padding-top: 5%;
  text-align: center;
  width: 280px;
  height: 40px;
  line-height: 20px;
  margin: 85px 95px 0px 95px;
  border: 3px solid white;
  background-color: rgba(116, 116, 116, 0.1);
}

.multTypeButton {
  border-radius: 40px;
  padding: 10px;
  padding-top: 2.5%;
  text-align: center;
  width: 280px;
  height: 40px;
  line-height: 20px;
  margin: 85px 95px 0px 95px;
  border: 3px solid white;
  background-color: rgba(116, 116, 116, 0.1);
}

#genitore {
  text-align: center;
}

#divRisposteRiga1,
#divRisposteRiga2,
#pVero-pFalso {
  display: inline-flex;
}

#genitore p {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

#circleBackground {
  stroke-dasharray: 437px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 10px;
  stroke: #050505;
  opacity: 0.2;
  fill: none;
  z-index: -1;
}

#circle30 {
  stroke-dasharray: 435px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 10px;
  stroke: #00ffff;
  fill: none;
  animation: countdown 30s linear infinite forwards;
  z-index: 1;
}

#circle60 {
  stroke-dasharray: 435px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 10px;
  stroke: #00ffff;
  fill: none;
  animation: countdown 60s linear infinite forwards;
  z-index: 1;
}

#circle120 {
  stroke-dasharray: 435px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 10px;
  stroke: #00ffff;
  fill: none;
  animation: countdown 120s linear infinite forwards;
  z-index: 1;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }

  to {
    stroke-dashoffset: -435px;
  }
}

#time {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#time p {
  margin: 3px;
}

#time p:nth-child(2) {
  font-size: 2em;
}

#svgGenerale {
  transform: rotate(271deg);
  position: absolute;
  top: -77px;
  right: -225px;
}

#countdown {
  position: fixed;
  right: 5%;
  top: 10%;
}

/* /Alex CSS */
.stars {
  line-height: 0;
}

.stars img {
  opacity: 0.1;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  transition: opacity 2s ease, transform 0.5s ease;
}

.stars:hover {
  /* opacity: 1; */
  cursor: pointer;
}

img.attivo {
  opacity: 1;
  transform: scale(1.5);
  margin-right: 15px;
}

textarea {
  resize: none;
  /* transform: translate(-50%, -50%); */

  width: 100%;
  max-width: 500px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid
    /* #900080 */
    #d20094;
}

form p {
  padding-top: 50px;
  padding-bottom: 20px;
}

#btn {
  margin-top: 50px;
  color: black;
  width: 30%;
  height: 50px;
  background-color: #00ffff;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 30px rgba(0, 255, 255, 1);
  cursor: pointer;
}

#body-feedback {
  text-align: center;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 932px) {
  body {
    margin-left: 2em;
    margin-right: 2em;
    overflow: auto;
  }

  nav img {
    width: 45vh;
  }

  header img {
    width: 30%;
    position: absolute;

    top: 25px;
    left: 60px;
  }

  main {
    margin-top: 50px;
  }

  textarea {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  #buttonProceed {
    margin-top: 40px;
  }

  .stars img {
    width: 30px;
    height: 30px;
    /* margin-right: 3px; */
    margin-right: 15px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    margin-left: 2em;
    margin-right: 2em;
    overflow: auto;
  }

  nav img {
    width: 15vh;
  }

  header img {
    width: 30%;
    position: absolute;

    top: 25px;
    left: 60px;
  }

  main {
    margin-top: 50px;
  }

  textarea {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  #buttonProceed {
    margin-top: 40px;
  }

  .stars img {
    width: 20px;
    height: 20px;
    /* margin-right: 3px; */
    margin-right: 10px;
  }
}

.divCiambella {
  display: flex;
}

.divSchermataCiambella {
  margin-top: 10%;
}

#divFraseSuperamentoON {
  position: absolute;
}

#divFraseSuperamentoONo {
  text-align: center;
  font-size: 2em;
  position: relative;
}

#graficoCiambella {
  position: absolute;
  top: -240px;
  left: -170px;
}

#divQuanteGiuste,
#divQuanteSbagliate {
  text-align: center;
  font-size: 4.5em;
  margin: 15%;
  margin-top: 5%
}

/* PER ANIMAZIONE CORIANOLI/GOCCE */
/* * {
    box-sizing: border-box;
  }
  body {
    overflow: hidden;
  }
  #animazioniCoriandoliOgocce {
    position: absolute;
    top: 50px; /* Regola la posizione verticale del canvas (sostituisci con il valore desiderato) */
/* left: 10px; Regola la posizione orizzontale del canvas (sostituisci con il valore desiderato)
  } */
/* #messaggioGocce {
    display: none;
    text-align: center;
    color: #e9eaed;
    font-size: 370%;
    font-family: "Outfit", sans-serif;
  } */