/* CSS COMUNE PER TUTTO IL PROGETTO */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin-left: 4.5em;
}
header img {
  width: 130px;
  margin-bottom: 0.3em;
  margin-top: 1.7em;
}
.title {
  line-height: 0.7;
}
.title1,
.title2 {
  font-family: 'Outfit', sans-serif;
  font-size: 60px;
}
.title2 {
  font-weight: bold;
}
.title-instructions,
.description,
.elenco,
span {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
.title-instructions {
  color: #d20094;
  font-weight: bold;

  padding-top: 1.7em;
}
.description {
  line-height: 1.1;
  padding-top: 0.5em;
}
.elenco {
  padding-top: 4em;
  margin-left: 1.5em;
  line-height: 1.4;
}

#check {
  padding-top: 5em;
}
/* CONTROLLARE!!!!!! */
#checkbox {
}
div button {
  height: 58px;
  width: 220px;
  background-color: #00ffff;
  font-weight: bold;
  font-size: 16px;
}
#button {
  text-align: right;
  margin-right: 6em;
  margin-bottom: 4em;
}
button:hover {
  transition: 0.7s;
  box-shadow: 0px 0px 30px 7px #00ffff;
  cursor: pointer;
  border: none;
  border-style: 5px;
}
button {
  border: none;
}

/* CSS TIMER - FRANCESCO */
#countdown {
  position: relative;
  margin: auto;
  margin-top: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

#circleBackground {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #050505;
  opacity: 0.2;
  fill: none;
}

#circle30 {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #00ffff;
  fill: none;
  animation: countdown 30s linear infinite forwards;
}
#circle60 {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #00ffff;
  fill: none;
  animation: countdown 60s linear infinite forwards;
}
#circle120 {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #00ffff;
  fill: none;
  animation: countdown 120s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

#time {
  font-family: 'inter', sans-serif;
}
#time p {
  margin: 0;
}

.tempoHtml {
  font-size: 3em;
}
