@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* CSS COMUNE PER TUTTO IL PROGETTO */
/* Alex */
body {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin-left: 4.5em;
}
#body-feedback {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

nav img {
  width: 25%;
  padding: 20px;
}
main {
  margin-top: 100px;
  text-align: center;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: "Outfit", sans-serif;
}

.stars {
  line-height: 0;
}
.stars img {
  opacity: 0.1;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  transition: opacity 2s ease, transform 0.5s ease;
}
.stars:hover {
  /* opacity: 1; */
  cursor: pointer;
}
img.attivo {
  opacity: 1;
  transform: scale(1.5);
  margin-right: 15px;
}

textarea {
  position: fixed;
  resize: none;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 500px;
  /* left: 30%; */
  background-color: transparent;
  border: none;
  border-bottom: 1px solid /* #900080 */ #d20094;
}
form p {
  padding-top: 40px;
  padding-bottom: 20px;
}

.btn {
  margin-top: 50px;
  color: black;
  width: 30%;
  height: 50px;
  background-color: #00ffff;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 30px rgba(0, 255, 255, 1);
  cursor: pointer;
}
/* LUCA */
header img {
  width: 130px;
  margin-bottom: 5em;
  margin-top: 1.7em;
}
.title {
  line-height: 0.7;
}
.title1,
.title2 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
}
.title2 {
  font-weight: bold;
}
.title-instructions,
.description,
.elenco,
span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.title-instructions {
  color: #d20094;
  font-weight: bold;

  padding-top: 1.7em;
}
.description {
  line-height: 1.1;
  padding-top: 0.5em;
}
.elenco {
  padding-top: 4em;
  margin-left: 1.5em;
  line-height: 1.4;
}

#check {
  padding-top: 5em;
}
/* CONTROLLARE!!!!!! */
#checkbox {
}
div button {
  height: 58px;
  width: 220px;
  background-color: #00ffff;
  font-weight: bold;
  font-size: 16px;
}
#button {
  text-align: right;
  margin-right: 6em;
  margin-bottom: 4em;
}
button:hover {
  transition: 0.7s;
  box-shadow: 0px 0px 30px 7px #00ffff;
  cursor: pointer;
  border: none;
  border-style: 5px;
}
button {
  border: none;
}
